# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/**
**/__debug_bin
**/__pycache__

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
/*.out

# editor and IDE
.idea
.vscode
*.swp
*.swo
*~
/_output/

# can be created during testing, we should not commit it
manifests/backend/02_metrics_client_ca_configmap.yaml
