# creates 1 ConfigMap with an external configuration 
# for the components health evaluation with kube-health
apiVersion: v1
kind: ConfigMap
metadata:
  name: 'components-config'
  namespace: openshift-cluster-health-analyzer
data: 
  components.yaml: |
    components:
    - name: control-plane
      children:
      - name: nodes
        objects:
        - resource: nodes
          selectors:
          - matchLabels:
              node-role.kubernetes.io/control-plane: []
        - resource: machineconfigpools
          group: machineconfiguration.openshift.io
          selectors:
          - matchLabels:
              pools.operator.machineconfiguration.openshift.io/master: []
      - name: capacity
        children:
        - name: cpu
          alerts:
            selectors:
            - matchLabels:
                alertname: ["KubeCPUOvercommit","HighOverallControlPlaneCPU", "ExtremelyHighIndividualControlPlaneCPU"]
        - name: memory
          alerts:
            selectors:
            - matchLabels:
                alertname: ["HighOverallControlPlaneMemory", "ExtremelyHighIndividualControlPlaneMemory", "SystemMemoryExceedsReservation"]
      - name: operators
        children:
        - name: etcd
          alerts:
            selectors:
            - matchLabels:
                namespace: ["openshift-etcd","openshift-etcd-operator"]
    - name: addons
      children:
      - name: kubevirt
        alerts:
          selectors:
          - matchLabels:
              kubernetes_operator_part_of: ["kubevirt"]
          - matchLabels:
              namespace: ["openshift-cnv"]
        objects:
        - group: kubevirt.io
          resource: kubevirts
binaryData: {}
immutable: false