# creats a 1 pod deployment for the cluster-health-analyzer
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: cluster-health-analyzer
  name: cluster-health-analyzer
  namespace: openshift-cluster-health-analyzer
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: cluster-health-analyzer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cluster-health-analyzer
    spec:
      serviceAccountName: cluster-health-analyzer-thanos-querier
      automountServiceAccountToken: true
      containers:
      - name: cluster-health-analyzer
        image: "quay.io/kgordeev/cluster-analyzer:latest"
        imagePullPolicy: Always
        args:
          - --tls-cert-file=/etc/tls/private/tls.crt
          - --tls-private-key-file=/etc/tls/private/tls.key
        env:
          - name: PROM_URL
            value: "https://thanos-querier.openshift-monitoring.svc.cluster.local:9091/"
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          seccompProfile:
            type: RuntimeDefault
        ports:
        - containerPort: 8443
          name: metrics
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /etc/tls/private
          name: cluster-health-analyzer-tls
          readOnly: true
      volumes:
      - name: cluster-health-analyzer-tls
        secret:
          secretName: cluster-health-analyzer-tls
